<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <h1>EMPLOYEE LIST</h1>
    <a href="{%url 'empl-create'%}" class="btn btn-primary">Add New Employee</a>
    <table class="table">
        <tr>
            <th>EmployeeName</th>
            <th>Department</th>
            <th>Age</th>
            <th>Address</th>
           
        </tr>
        {%for s in data%}
        <tr>
            <td>{{s.employeename}}</td>
            <td>{{s.department}}</td>
            <td>{{s.age}}</td>
            <td>{{s.address}}</td>
            
            <td>
                <a href="{%url 'empl-detail' s.id %}" class="btn btn-outline-primary">View</a>
                
                <a href="{%url 'empl-delete' s.id %}" class="btn btn-outline-danger">Delete</a>
                <a href="{%url 'empl-edit' s.id %}" class="btn btn-outline-warning">Edit</a>
            </td>

        </tr>
        {%endfor%}
    </table>
</div>
</body>
</html>
